<a href="https://colab.research.google.com/github/premkumarkora/EnsembleTechniques/blob/main/EnsembleTechniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ensemble Technqiues**

# Data

In [ ]:
#importing important packages
import pandas as pd
import numpy as np

#reading the dataset
df=pd.read_csv("train.csv")
df
df.shape
df.isnull().sum()
# # # # # # # # # #filling missing values
df.Gender.value_counts()
df['Gender'].fillna('Male', inplace=True)
# # # df.isnull().sum()
df.Married.value_counts()
df['Married'].fillna('Yes', inplace=True)
df.isnull().sum()
df.Dependents.value_counts()
df['Dependents'].fillna('0', inplace=True)
# # # df.isnull().sum()
df.Self_Employed.value_counts()
df['Self_Employed'].fillna('No', inplace=True)
df.isnull().sum()
df = df.fillna(df.median())
df.isnull().sum()
# # # # df = df.dropna()
# # # # df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
df['Credit_History'] = df['Credit_History'].astype('int')

In [ ]:
df = df.drop_duplicates()

In [ ]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [ ]:
df['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [ ]:
#split dataset into train and test

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

del df['Loan_ID']
#Both Label and One-hot encoding is performed
dfT = df #encode the data - one hot encoding is done

dfT["Gender"] = dfT["Gender"].map({"Male" : 0, "Female" : 1})
dfT["Married"] = dfT["Married"].map({"Yes" : 1, "No" : 0})
dfT["Dependents"] = dfT["Dependents"].map({"0" : 0, "1" : 1,"2" : 2,"3+" : 3})
dfT["Education"] = dfT["Education"].map({"Graduate" : 1, "Not Graduate" : 0})
dfT["Self_Employed"] = dfT["Self_Employed"].map({"Yes" : 1, "No" : 0})
dfT = pd.get_dummies(dfT,columns = ["Property_Area"]) #one hot encoding
dfT["Loan_Status"] = dfT["Loan_Status"].map({"Y" : 1, "N" : 0})

#Split my data
x_train, x_test, y_train, y_test = train_test_split(dfT[dfT.columns[:-1]].values, dfT['Loan_Status'].values, test_size=0.25)

In [ ]:
dfT

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,0,0,1,0,5849,0.0,128.0,360.0,1,1,0,0,1
1,0,1,1,1,0,4583,1508.0,128.0,360.0,1,0,1,0,0
2,0,1,0,1,1,3000,0.0,66.0,360.0,1,1,0,0,1
3,0,1,0,0,0,2583,2358.0,120.0,360.0,1,1,0,0,1
4,0,0,0,1,0,6000,0.0,141.0,360.0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,1,0,0,1,0,2900,0.0,71.0,360.0,1,1,1,0,0
610,0,1,3,1,0,4106,0.0,40.0,180.0,1,1,1,0,0
611,0,1,1,1,0,8072,240.0,253.0,360.0,1,1,0,0,1
612,0,1,2,1,0,7583,0.0,187.0,360.0,1,1,0,0,1
613,1,0,0,1,1,4583,0.0,133.0,360.0,0,0,0,1,0

In [ ]:
x_train

array([[0., 0., 0., ..., 1., 1., 0.],
       [1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
x_train.shape, x_test.shape

((460, 13), (154, 13))

In [ ]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
x_train = std.fit_transform(x_train)
x_test = std.transform(x_test)

# Max Voting

Alternatively, you can use “VotingClassifier” module in sklearn as follows:

In [ ]:
from sklearn.ensemble import VotingClassifier # this is the function that ensembles my model
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score

model1 = LogisticRegression(random_state=1)
model2 = tree.DecisionTreeClassifier(random_state=1)
model3 = KNeighborsClassifier(3)
model = VotingClassifier(estimators=[('lr', model1), ('dt', model2),('knn',model3)], voting='soft') # it will stitich all the models together, voting = hard means max voting
# we need to give the list of models that we are trying to combine
model.fit(x_train,y_train) # to train all of the models
preds = model.predict(x_test)
model.score(x_test,y_test) # prediction
roc_auc_score(y_test,model.predict_proba(x_test)[:,1])

1.0

In [ ]:
model3 = KNeighborsClassifier(3)
model3.fit(x_train,y_train)
roc_auc_score(y_test,model3.predict_proba(x_test)[:,1])

0.9787190082644628

# **Advanced Ensemble techniques**

# **Bagging** (Bootstrap aggregation)

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
# weakLearner = tree.DecisionTreeClassifier(max_depth = 1)
# weakLearner.fit(x_train, y_train)
# weakLearner.score(x_test,y_test)
model = BaggingClassifier(tree.DecisionTreeClassifier(max_depth = 1, random_state=1), n_estimators=100)
model.fit(x_train, y_train)
model.score(x_test,y_test)

1.0

# **Random Forests**

In [ ]:
# Pandas is used for data manipulation
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Read in data as pandas dataframe and display first 5 rows
original_features = pd.read_csv('temps.csv') #
print(original_features.columns)
original_features

original_features.isnull().sum()
original_features = original_features.drop_duplicates()
original_features.dtypes
# # To check all the problem with data
# ## original_features

# # original_features[]
# #
# # from sklearn.preprocessing import LabelEncoder

# # # lb = LabelEncoder()
# # # lb.fit_transform(original_features.week)


original_features.week = original_features.week.map({'Sun':1,'Mon':2,'Tues':3,'Wed':4,'Thurs':5,'Fri':6,'Sat':7})
# # # # # # original_features
# # # # # # Use numpy to convert to arrays
# # # # import numpy as np

# # # # Labels are the values we want to predict
original_labels = np.array(original_features['actual']) # target varaibles

# # Remove the labels from the features
# # axis 1 refers to the columns
original_features= original_features.drop('friend', axis = 1)
original_features= original_features.drop('actual', axis = 1) #original features

# # Saving feature names for later use
original_feature_list = list(original_features.columns) #orginal feature labels

# # Convert to numpy array
# original_features = np.array(original_features)
# original_features

# # Using Skicit-learn to split data into training and testing sets
# from sklearn.model_selection import train_test_split

# # Split the data into training and testing sets
original_train_features, original_test_features, original_train_labels, original_test_labels = train_test_split(original_features, original_labels, test_size = 0.25, random_state = 42)

# # # # The baseline predictions are the historical averages
# # # baseline_preds = original_test_features[:, original_feature_list.index('average')]

# # # # Baseline errors, and display average baseline error
# # # baseline_errors = abs(baseline_preds - original_test_labels)
# # # print('Average baseline error: ', round(np.mean(baseline_errors), 2), 'degrees.')

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'friend'],
      dtype='object')

     year  month  day   week  temp_2  temp_1  average  actual  friend
0    2016      1    1    Fri      45      45     45.6      45      29
1    2016      1    2    Sat      44      45     45.7      44      61
2    2016      1    3    Sun      45      44     45.8      41      56
3    2016      1    4    Mon      44      41     45.9      40      53
4    2016      1    5   Tues      41      40     46.0      44      41
..    ...    ...  ...    ...     ...     ...      ...     ...     ...
343  2016     12   27   Tues      42      42     45.2      47      47
344  2016     12   28    Wed      42      47     45.3      48      58
345  2016     12   29  Thurs      47      48     45.3      48      65
346  2016     12   30    Fri      48      48     45.4      57      42
347  2016     12   31    Sat      48      57     45.5      40      57

[348 rows x 9 columns]

In [ ]:
original_features.shape

(348, 7)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Instantiate model
rf = RandomForestRegressor(n_estimators= 100, max_depth = 3, max_features='sqrt')

# Train the model on training data
rf.fit(original_train_features, original_train_labels);

# Use the forest's predict method on the test data
predictions = rf.predict(original_test_features)

# # Calculate the absolute errors
# errors = abs(predictions - original_test_labels)

# # Print out the mean absolute error (mae)
# print('MAE :', round(np.mean(errors), 2), 'degrees.')

# Compare to baseline
# improvement_baseline = 100 * abs(np.mean(errors) - np.mean(baseline_errors)) / np.mean(baseline_errors)
# print('Improvement over baseline:', round(improvement_baseline, 2), '%.')

#r2_score(baseline_preds, original_test_labels)
r2_score(predictions, original_test_labels)

0.6414626520002147

In [ ]:
original_train_features.shape

(261, 7)

# Interpret Model Results

In [ ]:
from sklearn import tree

In [ ]:
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]

# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = original_feature_list, rounded = True, precision = 1)

# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')

# Write graph to a png file
graph.write_png('tree.png');

In [ ]:
print('The depth of this tree is:', tree.tree_.max_depth)

The depth of this tree is: 3

In [ ]:
# Limit depth of tree to 2 levels
rf_small = RandomForestRegressor(n_estimators=10, max_depth = 3, random_state=42)
rf_small.fit(original_train_features, original_train_labels)

# Extract the small tree
tree_small = rf_small.estimators_[5]

# Save the tree as a png image
export_graphviz(tree_small, out_file = 'small_tree.dot', feature_names = original_feature_list, rounded = True, precision = 1)

(graph, ) = pydot.graph_from_dot_file('small_tree.dot')

graph.write_png('small_tree.png');

# Variable Importances

In [ ]:

# Get numerical feature importances
importances = list(rf.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(original_feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: temp_1               Importance: 0.4
Variable: average              Importance: 0.27
Variable: temp_2               Importance: 0.19
Variable: month                Importance: 0.13
Variable: day                  Importance: 0.01
Variable: year                 Importance: 0.0
Variable: week                 Importance: 0.0

# Model with the 2 most important feature

In [ ]:
original_train_features

     year  month  day  week  temp_2  temp_1  average
245  2016      9   19     2      68      69     69.7
101  2016      4   14     5      60      59     58.1
208  2016      7   30     7      85      88     77.3
132  2016      5   15     1      82      65     64.7
17   2016      1   18     2      54      50     47.5
..    ...    ...  ...   ...     ...     ...      ...
188  2016      7   10     1      74      71     75.1
71   2016      3   15     3      54      49     53.6
106  2016      4   19     3      77      89     59.0
270  2016     10   14     6      66      60     60.2
102  2016      4   15     6      59      59     58.3

[261 rows x 7 columns]

In [ ]:

# New random forest with only the two most important variables
rf_most_important = RandomForestRegressor(n_estimators= 100, max_depth = 2, max_features='auto')

# Extract the two most important features
important_indices = ['temp_1','average']
train_important = original_train_features.loc[:, important_indices]
test_important = original_test_features.loc[:, important_indices]

# Train the random forest
rf_most_important.fit(train_important, original_train_labels)

# Make predictions and determine the error
predictions = rf_most_important.predict(test_important)

errors = abs(predictions - original_test_labels)

# Display the performance metrics
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

r2_score(predictions, original_test_labels)

Mean Absolute Error: 3.95 degrees.

0.7211881095392354

# XG Boost

In [ ]:
x_train = original_train_features
y_train = original_train_labels
x_test = original_test_features
y_test = original_test_labels
x_train

     year  month  day  week  temp_2  temp_1  average
245  2016      9   19     2      68      69     69.7
101  2016      4   14     5      60      59     58.1
208  2016      7   30     7      85      88     77.3
132  2016      5   15     1      82      65     64.7
17   2016      1   18     2      54      50     47.5
..    ...    ...  ...   ...     ...     ...      ...
188  2016      7   10     1      74      71     75.1
71   2016      3   15     3      54      49     53.6
106  2016      4   19     3      77      89     59.0
270  2016     10   14     6      66      60     60.2
102  2016      4   15     6      59      59     58.3

[261 rows x 7 columns]

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import xgboost as xgb
from sklearn.model_selection import cross_val_score
import numpy as np
for lr in [0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.2,0.5,0.7,1]:
  model = xgb.XGBRegressor(learning_rate = lr, n_estimators=100, verbosity = 0) # initialise the model
  model.fit(x_train,y_train) #train the model
  model.score(x_test, y_test) # scoring the model - r2 squared
  print("Learning rate : ", lr, " Train score : ", model.score(x_train,y_train), " Cross-Val score : ", np.mean(cross_val_score(model, x_train, y_train, cv=10)))

Learning rate :  0.01  Train score :  0.8477831611250641  Cross-Val score :  0.8407451404927044
Learning rate :  0.02  Train score :  0.9798388156093064  Cross-Val score :  0.9788867240593916
Learning rate :  0.03  Train score :  0.9973841493925657  Cross-Val score :  0.9972579954426533
Learning rate :  0.04  Train score :  0.9996676619028624  Cross-Val score :  0.9996512949073033
Learning rate :  0.05  Train score :  0.9999586747071572  Cross-Val score :  0.9999565960995195
Learning rate :  0.06  Train score :  0.9999949736675605  Cross-Val score :  0.9999947152439752
Learning rate :  0.07  Train score :  0.9999994023220357  Cross-Val score :  0.9999993708800599
Learning rate :  0.08  Train score :  0.9999999306459296  Cross-Val score :  0.9999999267261103
Learning rate :  0.09  Train score :  0.9999999906812247  Cross-Val score :  0.9999999882607191
Learning rate :  0.1  Train score :  0.9999999902059086  Cross-Val score :  0.9999999896863023
Learning rate :  0.11  Train score :  0.9999999911846799  Cross-Val score :  0.9999999907725193
Learning rate :  0.12  Train score :  0.9999999913312638  Cross-Val score :  0.9999999909539314
Learning rate :  0.13  Train score :  0.999999991315025  Cross-Val score :  0.999999990957593
Learning rate :  0.14  Train score :  0.9999999917105407  Cross-Val score :  0.9999999912778522
Learning rate :  0.15  Train score :  0.9999999928008481  Cross-Val score :  0.9999999896125112
Learning rate :  0.2  Train score :  0.9999999920060079  Cross-Val score :  0.9999999916189687
Learning rate :  0.5  Train score :  0.999999995728502  Cross-Val score :  0.9999999955122686
Learning rate :  0.7  Train score :  0.9999999948456086  Cross-Val score :  0.9999999945541378
Learning rate :  1  Train score :  0.9999999993074967  Cross-Val score :  0.9999999989047564

In [ ]:
model = xgb.XGBRegressor(learning_rate = 0.05, n_estimators=100)
model.fit(x_train,y_train) #train the model
model.score(x_test, y_test) # scoring the model - r2 squared

[06:53:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.8155634432801947

In [ ]:
from sklearn.ensemble import VotingRegressor # this is the function that ensembles my model
from sklearn.linear_model import LinearRegression
from sklearn import tree
from sklearn.neighbors import KNeighborsRegressor

model1 = LinearRegression()
model2 = tree.DecisionTreeRegressor(random_state=1)
model3 = KNeighborsRegressor(3)
model = VotingRegressor(estimators=[('lr', model1), ('dt', model2),('knn',model3)]) # it will stitich all the models together, voting = hard means max voting
# we need to give the list of models that we are trying to combine
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8177167884928702